
#button{
    background-color: blue;
}
/* id # */
#uusiImg{
    width: 320px;
    height: 240px;
}

#nappulaTausta
{
    background-color: cadetblue;
}

/* luokka . */
.painettu{
    width: 320px;
    height: 240px;
} 